*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(244, 105, 105);
}

header a{
    font-size: 3rem;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
    font-size: 3rem;
    gap: 3rem;
}

main .gray{
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
}

main .red{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
}